<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width,initail-scale=1.0">
</head>

<body>
	{% block content%}
	<form method="post" action="do_login">{% csrf_token %}
		<input type="text" name="username" placeholder="username">
		<br>
		<input type="password" name="password" placeholder="Enter Password">
		<br>
		<input type="submit" name="register" value="Login">
		<br>
	</form>

	{% for msg in msgs %}
	{{msg}}<br>

	{% endfor %}

	{% endblock%}
	
</body>

</html>